@import "tailwindcss";

@theme {
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
    body {
        @apply bg-slate-50 text-slate-900 antialiased;
    }
}

@layer components {

    /* Custom utility for glassmorphism */
    .glass {
        @apply bg-white/70 backdrop-blur-md border border-white/20;
    }
}